*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
.banner{
  width: 100%;
  height: 100vh;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 0.1px solid black;
  z-index: 1000;
}
.left-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.left-navbar .logo img{
  height: 35px;
  vertical-align: middle;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.left-navbarx{
  margin-left: 20px;
}
.left-navbarx ul{
  list-style:none;
}
.left-navbarx ul li{
  display: inline;
  padding: 12px 14px;
}
.left-navbarx ul li a{
  text-decoration: none;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: black;
  text-transform: uppercase;
}
.left-navbarx ul li a:hover{
  font-weight: bold;
}
.left-navbarx img{
  height: 11px;
  vertical-align: middle;
  cursor: pointer;
}
.right-navbar{
  margin-right: 20px;
}
.right-navbar ul{
  list-style: none;
}
.right-navbar ul li{
  display: inline;
  padding: 12px 14px;
}
.right-navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size:11px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: black;
}
.right-navbar ul li a:hover{
  font-weight: bold;
}
.right-navbar img{
  height: 11px;
  vertical-align: middle;
  margin-right: 8px;
}
.image-container{
  width: 450px;
  height: 550px;
  border: 0.1px solid black;
  margin-top: 80px;
  transform: translateX(100%);
}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
  height: 40px;
  border-top: 0.1px solid rgb(115, 105, 105);
  padding: 10px;
}
.news-letter ul, .copy-right ul{
  list-style: none;
}
.news-letter ul li, .copy-right ul li{
  display: inline;
}
.news-letter ul li a, .copy-right ul li a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: black;
}
.copy-right ul li a{
  cursor: text;
}
.news-letter ul li a:hover{
  font-weight: bold;
  text-decoration: underline;
}